{% extends 'base.html' %}

{% block content %}

<center>
<hr>
<h1>{{post.title}}</h1>
<hr>

<div class="user-stuff">

  {% if user.is_authenticated %}

  <p>You are logged in as {{user.username}}, you can comment.</p>

  <div class="post_field">
    <h2>Comment on thread:</h2>
    <form action="make_comment/" method="post"> {% csrf_token %}
      <input type="text" name="content" value="Enter text here">
      <input type="submit" name="submit" value="Post">
    </form>
  </div>

  {% else %}
  <p>You are not logged in. You cannot comment.</p>
  {% endif %}

  <!-- Feed with all the posts, as a table-->
  <div class="post_details">

    <table>

    <tr>
      <td class='user_det'><strong>{{post.author}} </strong> <br><i>{{post.created_date}}</i></td>
      <td>{{post.text|linebreaks}}</td>
    </tr>

    </table>
    <h2>Comments:</h2>
    <table>

    {% for comment in comments %}

    <tr>
      <td class='user_det'><strong>{{comment.author}} </strong> <br><i>{{comment.created_date}}</i></td>
      <td>{{comment.text|linebreaks}}</td>
    </tr>

    {% empty %}
    <tr>No comments on this thread</tr>

    {% endfor %}

    </table>
  </div>


</div>




</center>

{% endblock %}
