{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <section id="showcase">
      <div class="container">
      <style>
       h5 { text-shadow: 2px 2px #FF0000; }
      </style>
	      <h5><h1>{% if user.is_authenticated %} Welcome {{ user.username }} {% else %} Welcome to Anant. Kindly log in.{% endif %}<h1><h5>
        <h5><h1>Welcome to aNANt</h1></h5>
        <p>aNANt is an initiative of <a href="http://mrc.iisc.ernet.in/~abhishek" target="blank">Materials Theory and Simulations Group</a>, <a href="http://mrc.iisc.ac.in" target="blank">Materials Research Centre</a>, <a href="http://iisc.ac.in" target="blank">Indian Institute of Science</a> Bangalore to develop and host an open-access online repository of functional materials. aNANt database shares the structures and electronic properties of computationally designed two-dimensional functional materials in a single platform. Currently, it hosts over 23,000 materials data. </p>
      </div>
    </section>

    <section id="apps">
      <h1 class="apphead">Apps</h1>

      <a href="mxenedb/" class="appclick">
      <div class="app">
        <h1>MXene database</h1>
        <img src="{% static 'frontpage/images/mxenedb.png' %}"  alt="">
        <p>Contains details of over 23,000 MXenes, with downloadable POSCARs</p>
      </div>
      </a>

      <a href="creep/" class="appclick">
      <div class="app">
        <h1>Superalloy-creep</h1>
        <img src="{% static 'frontpage/images/vickers_hardness.png' %}"  alt="">
        <p>ML models for Superalloy creep</p>
      </div>
      </a>


      <a href="hardness/" class="appclick">
      <div class="app">
        <h1>Superalloy-hardness</h1>
        <img src="{% static 'frontpage/images/vickers_hardness.png' %}"  alt="">
        <p>ML models for Superalloy hardness</p>
      </div>
      </a>


    </section>

    <section id="apps">


      <a href="X1X2M/">
      <div class="app">
        <h1>OOH database</h1>
        <img src="{% static 'frontpage/images/gears.png' %}"  alt="">
        <p> OOH database of formation energies </p>
      </div>
      </a>


      <a href="">
      <div class="appinactive">
        <h1>Post Processing</h1>
        <img src="{% static 'frontpage/images/gears.png' %}"  alt="">
        <p>Some useful post processing utilities. <span>Coming Soon!</span></p>
      </div>
      </a>

    </section>
{% endblock %}
