<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="{% static 'frontpage/icon.ico'%}">
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'frontpage/style.css'%}">
    <title>aNANt</title>
  </head>
  <body>

    <header>
            <div class="logotext">
              <img src="{% static 'frontpage/images/logo3.png' %}" alt="" height=140px>
            </div>

            <img src="{% static 'frontpage/images/bg8.png' %}" alt="" height="140px">
            <nav>

              <a href="../">Home</a>
              <a href="../about/">About</a>
              <a href="../publications/"  class="current">Publications</a>
<!-- <a href="acknowledgements/">Acknowledgements</a> -->
              <a href="../contact/">Contact Us</a>
              
              
            </nav>

    </header>



    <section id="content">
      <div class="container">
      <style>
       h5 { text-shadow: 2px 2px #FF0000; }
      </style>

        <h5><h1>Publications</h1></h5>
        <p>1. A. C. Rajan, A. Mishra, S. Satsangi, R. Vaish, H. Mizuseki, K. R. Lee and A. K. Singh. Machine-Learning-Assisted Accurate Band Gap Predictions of Functionalized MXene. <a href="https://pubs.acs.org/doi/10.1021/acs.chemmater.8b00686" target="blank"><i>Chem. Mater.</i>, <b>2018</b>, <i>30</i>, 4031-4038*</a>.</p>
        <p>*If you consider using the information given in this database, please cite the above article.</p>

	<p>2.A. Mishra, S. Satsangi, A. C. Rajan, H. Mizuseki, K.-R. Lee, A. K. Singh. Accelerated Data-Driven Accurate Positioning of the Band Edges of MXenes. <a href="https://pubs.acs.org/doi/abs/10.1021/acs.jpclett.9b00009" target="blanck"><i>J. Phys. Chem. Lett.</i>, <b>2019</b>, <i>10</i>, 780-785</a>.</p>


      </div>
    </section>

    <footer>
      Developed by <a href="http://mrc.iisc.ernet.in/~abhishek" target="blank">Materials Theory and Simulations Group</a>, Materials Research Center, Indian Institute of Science.
    </footer>


  </body>
</html>
