*{
  margin: 0;
  padding: 0;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2em;
}


header{
  display: grid;
  background: black;
  color: white;
  width: 100%;
  grid-template-columns: 1fr 2.5fr;
  grid-gap: 10px;
  border-bottom: 5px solid #df861d;
  padding-bottom: 12px;
}

.logo{
}

.logotext{
  justify-self: start;
  align-self: end;
  margin-left: 15px;
}
.logotext img{
  width: auto;
}

.logotext h1{
  font-size: 4.05em;
  margin-bottom: 10px;
}

.logotext p{
  font-size:1em;
  margin-bottom: 20px;
}

header img{
  grid-column: 2/3;
  grid-row: 1;
  float: right;
  justify-self: end;
  width: 100%;
}

nav{
  grid-column: 1/3;
  grid-row: 2;
  align-self: end;
  justify-self: end;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: -5px;
}

nav a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px
  padding: 3px;
  margin: 5px;
  font-size: 1em;
}

nav a.current{
  color: #df861d;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px
  padding: 3px;
  margin: 5px;
  font-size: 1em;
}

nav a:hover{
  color: #df861d;
}

#logo{

}

nav ul{

}

nav li{
  float: left;
  padding: 0px 10px 0px 10px;
  display: inline;
}

#showcase{

  display: grid;
  grid-template-columns: 1fr 7fr 1fr;
  /* min-height: 300px; */
  background-color: white;
  background-size: cover;
  background-image: url("../images/grid2.jpg");
  background-size: 100% 100%;
  text-align: center;
  color: black;
  padding: 20px 40px;
  border-bottom: 5px solid #df861d;
}

#showcase .container{
  grid-column: 2/3;
  justify: center;
}

#showcase h1{
  line-height: 1.5em;
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 3em;
}

#showcase p{
  font-size: 1.2em;
  padding: 15px;
  text-align: justify;
}

#showcase a{
    text-decoration: none;
    font-weight: bold;

}

#apps {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

.apphead{
  grid-column: 1/4;
}



#apps .appclick :hover{
  background-color: #fce6b3;
}


#apps a{
  text-decoration: none;
  color: black;
}

#apps h1{
  margin: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid gray;
}

#apps .app img{

  width: 80%;
  margin-bottom: 20px;

}

#apps p{
  margin: 5px;
  padding-top: 15px;
  border-top: 1px solid gray;
}

#apps .app{
  border: 2px solid #df861d;
  margin: 10px;
  width: 90%;
  height: 93%;
  border-radius: 8px;
  text-align: center;
}

#apps .appinactive{
  border: 2px solid gray;
  color: gray;
  margin: 10px;
  width: 90%;
  height: 93%;
  border-radius: 8px;
  text-align: center;
}

#apps .appinactive img{

  width: 80%;
  margin-bottom: 20px;
  filter: opacity(0.5) grayscale(0.7);


}

#apps .appinactive span{

    font-weight: bold;
}

footer{
  background-color: black;
  color: white;
  text-align: center;
  height: 30%;
  margin-top: 60px;
  border-top: 5px solid #df861d;
}
footer a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Content pages */

#content{

  display: grid;
  grid-template-columns: 1fr 7fr 1fr;
  min-height: 300px;
  background-color: white;
  background-size: cover;
  background-image: url("../images/grid2.jpg");
  background-size: 100% 100%;
  text-align: center;
  color: black;
  padding: 20px 40px;
}

#content .container{
  grid-column: 2/3;
  justify: center;
}

#content h1{
  line-height: 1.5em;
  margin-top: 80px;
  margin-bottom: 10px;
  font-size: 3em;
}

#content p{
  font-size: 1.2em;
  padding: 15px;
  text-align: justify;
}

#content li{
  list-style-type: none;
}
