<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'mxn_search/style.css'%}">
    <link rel="shortcut icon" href="{% static 'frontpage/icon.ico'%}">
    <meta charset="utf-8">
    <meta name="viewport" content="width-device-width initial-scale=1.0">
    <meta name="description" content="computational database of mxenes">
    <meta name="keywords" content="mxene, mxenes, mxene database">
    <meta name="author" content="Rohith K.M.S">
    <title>The MXene Database</title>
    {% block head %}
        <!--link all extra files, meta, style and scripts here-->
    {% endblock %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  </head>
  <body>

    {% block style %}
    {% endblock %}

    <header>
        <div class="logotext">
            <img src="{% static 'frontpage/images/logo3.png' %}" alt="" height=140px>
        </div>

        <img src="{% static 'frontpage/images/bg8.png' %}" alt="" height="140px">
        <nav>

            <a href="../../">Home</a>
            <a href="../../about/">About</a>
            <a href="../../publications/">Publications</a>
<!-- <a href="acknowledgements/">Acknowledgements</a> -->
            <a href="../../contact/">Contact Us</a>
            <a href="../login_page/">Login</a>
            {% if user.is_authenticated %}<a href="../logout/">Logout</a>{% endif %}
              
        </nav>

    </header>

    {% block fullcontent %}
    {% endblock %}

  </body>

  {% block script %}
  {% endblock %}
  
</html>